<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../vendor/simple-datatables/style.css" rel="stylesheet">
</head>
<body>
  <%- include('./partials/header.ejs') %>
  <%- include('./pages/sidebar.ejs') %>


  <!-- vlm main part -->
<main id="main" class="main">
  <div class="d-flex justify-content-between flex-wrap flex-md nowrp align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1>All Agent users</h1>
      <div class="btn-toolbar mb-2 mb-md 0">
          <div class="btn-group me-2">
              <a href="/admin/agents/new" class="btn btn-sm btn-outline-secondary">+ Add users</a>
            </div>
      </div>
  </div>
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin">Home</a></li>
      <li class="breadcrumb-item active">users</li>
    </ol>
  
  <!-- End Page Title -->
  <div class="container">
    <div class="row my-4">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <tr class="table-dark">
                        <th>Id</th>
                        <th>vlmid</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>E-mail</th>
                        <th>PhoneNumber</th>
                        <th>Action</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>393939dkdkk39eke93</td>
                            <td>Firstname</td>
                            <td>Lastname</td>
                            <td>E-mail</td>
                            <td>PhoneNumber</td>
                            <td>
                                <a href="#" style="text-decoration: none;"><i class="ri-edit-box-fill mx-1" style="font-size: 1.5em; color: rgb(12, 17, 89);"></i></a>
                                <a href="#" style="text-decoration: none;"><i class="ri-delete-bin-5-fill mx-1" style="font-size: 1.5em;color: red;"></i></a>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
    
        </div>
    </div>
  </div>


</main><!-- End #main -->
<%- include('./partials/footer.ejs') %>